In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
matplotlib.rcParams['font.family'] = "AppleGothic"
matplotlib.rcParams['font.size'] = 15
matplotlib.rcParams['axes.unicode_minus'] = False # 한글 폰트 사용시 마이너스 깨짐 현상 해결

# 데이터 확인하기

In [2]:
df1 = pd.read_csv('test.csv')
df2 = pd.read_csv("train.csv")

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35452 entries, 0 to 35451
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         35452 non-null  int64
 1   Q1            35333 non-null  float64
 2   Q2            35305 non-null  float64
 3   Q3            35322 non-null  float64
 4   Q4            35327 non-null  float64
 5   Q5            35362 non-null  float64
 6   Q6            35320 non-null  float64
 7   Q7            35310 non-null  float64
 8   Q8            35344 non-null  float64
 9   Q9            35348 non-null  float64
 10  Q10           35232 non-null  float64
 11  Q11           35333 non-null  float64
 12  Q12           35303 non-null  float64
 13  Q13           35356 non-null  float64
 14  Q14           35350 non-null  float64
 15  Q15           35345 non-null  float64
 16  Q16           35367 non-null  float64
 17  Q17           35373 non-null  float64
 18  Q18           35305 non-null  float64
 19  Q19           35355 non-null  float64
 20  Q20           35333 non-null  float64
 21  Q21           35329 non-null  float64
 22  Q22           35370 non-null  float64
 23  Q23           35338 non-null  float64
 24  Q24           35327 non-null  float64
 25  Q25           35344 non-null  float64
 26  Q26           35344 non-null  float64
 27  country       35002 non-null  object
 28  introelapse   35452 non-null  int64
 29  testelapse    35452 non-null  int64
 30  surveyelapse  35452 non-null  int64
 31  TIPI1         35345 non-null  float64
 32  TIPI2         35330 non-null  float64
 33  TIPI3         35289 non-null  float64
 34  TIPI4         35314 non-null  float64
 35  TIPI5         35312 non-null  float64
 36  TIPI6         35324 non-null  float64
 37  TIPI7         35318 non-null  float64
 38  TIPI8         35325 non-null  float64
 39  TIPI9         35322 non-null  float64
 40  TIPI10        35276 non-null  float64
 41  VCL1          35452 non-null  int64
 42  VCL2          35452 non-null  int64
 43  VCL3          35452 non-null  int64
 44  VCL4          35452 non-null  int64
 45  VCL5          35452 non-null  int64
 46  VCL6          35452 non-null  int64
 47  VCL7          35452 non-null  int64
 48  VCL8          35452 non-null  int64
 49  VCL9          35452 non-null  int64
 50  VCL10         35452 non-null  int64
 51  VCL11         35452 non-null  int64
 52  VCL12         35452 non-null  int64
 53  VCL13         35452 non-null  int64
 54  VCL14         35452 non-null  int64
 55  VCL15         35452 non-null  int64
 56  VCL16         35452 non-null  int64
 57  education     35079 non-null  float64
 58  urban         35452 non-null  int64
 59  gender        35383 non-null  float64
 60  engnat        35333 non-null  float64
 61  age           35452 non-null  int64
 62  hand          35331 non-null  float64
 63  religion      34969 non-null  float64
 64  orientation   34629 non-null  float64
 65  voted         35271 non-null  float64
 66  married       35272 non-null  float64
 67  familysize    34749 non-null  float64
 68  ASD           35215 non-null  float64
dtypes: float64(46), int64(22), object(1)
memory usage: 18.7+ MB

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 70 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         15000 non-null  int64
 1   Q1            14959 non-null  float64
 2   Q2            14931 non-null  float64
 3   Q3            14950 non-null  float64
 4   Q4            14929 non-null  float64
 5   Q5            14962 non-null  float64
 6   Q6            14952 non-null  float64
 7   Q7            14924 non-null  float64
 8   Q8            14952 non-null  float64
 9   Q9            14944 non-null  float64
 10  Q10           14928 non-null  float64
 11  Q11           14941 non-null  float64
 12  Q12           14933 non-null  float64
 13  Q13           14960 non-null  float64
 14  Q14           14964 non-null  float64
 15  Q15           14955 non-null  float64
 16  Q16           14967 non-null  float64
 17  Q17           14963 non-null  float64
 18  Q18           14937 non-null  float64
 19  Q19           14947 non-null  float64
 20  Q20           14955 non-null  float64
 21  Q21           14961 non-null  float64
 22  Q22           14962 non-null  float64
 23  Q23           14950 non-null  float64
 24  Q24           14939 non-null  float64
 25  Q25           14956 non-null  float64
 26  Q26           14932 non-null  float64
 27  country       14810 non-null  object
 28  introelapse   15000 non-null  int64
 29  testelapse    15000 non-null  int64
 30  surveyelapse  15000 non-null  int64
 31  TIPI1         14947 non-null  float64
 32  TIPI2         14934 non-null  float64
 33  TIPI3         14921 non-null  float64
 34  TIPI4         14936 non-null  float64
 35  TIPI5         14930 non-null  float64
 36  TIPI6         14938 non-null  float64
 37  TIPI7         14936 non-null  float64
 38  TIPI8         14935 non-null  float64
 39  TIPI9         14936 non-null  float64
 40  TIPI10        14920 non-null  float64
 41  VCL1          15000 non-null  int64
 42  VCL2          15000 non-null  int64
 43  VCL3          15000 non-null  int64
 44  VCL4          15000 non-null  int64
 45  VCL5          15000 non-null  int64
 46  VCL6          15000 non-null  int64
 47  VCL7          15000 non-null  int64
 48  VCL8          15000 non-null  int64
 49  VCL9          15000 non-null  int64
 50  VCL10         15000 non-null  int64
 51  VCL11         15000 non-null  int64
 52  VCL12         15000 non-null  int64
 53  VCL13         15000 non-null  int64
 54  VCL14         15000 non-null  int64
 55  VCL15         15000 non-null  int64
 56  VCL16         15000 non-null  int64
 57  education     14833 non-null  float64
 58  urban         15000 non-null  int64
 59  gender        14981 non-null  float64
 60  engnat        14953 non-null  float64
 61  age           15000 non-null  int64
 62  hand          14953 non-null  float64
 63  religion      14755 non-null  float64
 64  orientation   14601 non-null  float64
 65  voted         14915 non-null  float64
 66  married       14918 non-null  float64
 67  familysize    14681 non-null  float64
 68  ASD           14911 non-null  float64
 69  nerdiness     15000 non-null  int64
dtypes: float64(46), int64(23), object(1)
memory usage: 8.0+ MB

In [5]:
df2.groupby('nerdiness').mean()

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,gender,engnat,age,hand,religion,orientation,voted,married,familysize,ASD
nerdiness,,,,,,,,,,,,,,,,,,,,,
0,7486.277438,3.621876,3.720529,3.986365,3.431573,3.541604,3.270453,3.939835,3.545509,3.633668,...,1.685612,1.375637,24.819322,1.178111,4.239074,1.754816,1.640204,1.193204,3.044070,1.953842
1,7510.165001,4.256283,4.343569,4.413485,4.088929,4.110628,4.003624,4.379707,4.148332,4.142978,...,1.717058,1.322140,28.290738,1.190752,3.985467,1.922461,1.627420,1.169227,2.503437,1.926513

In [6]:
df2.groupby('nerdiness')[['Q10',"Q11","Q12","Q13","Q14","Q15","Q16","Q17","Q18","Q19","Q20",'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26']].mean()

,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26
nerdiness,,,,,,,,,,,,,,,,,
0,3.891157,2.742013,3.460753,3.380803,3.423653,2.594789,3.157391,3.676638,3.631484,3.112494,3.391675,2.677946,2.164248,3.529376,4.057888,2.875730,3.880120
1,4.287408,3.430747,4.071221,3.959913,3.965476,3.365108,3.656525,4.154766,4.122898,3.605797,3.901885,3.202608,2.613628,4.082145,4.489300,3.373928,4.388291

In [7]:
df2.groupby('nerdiness')[['country', 'introelapse',
       'testelapse', 'surveyelapse', 'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4',
       'TIPI5', 'TIPI6', 'TIPI7','TIPI8', 'TIPI9', 'TIPI10']].mean()

,introelapse,testelapse,surveyelapse,TIPI1,TIPI2,TIPI3,TIPI4,TIPI5,TIPI6,TIPI7,TIPI8,TIPI9,TIPI10
nerdiness,,,,,,,,,,,,,
0,638.987905,335.356876,411.146931,2.756090,3.009636,3.427193,3.218322,3.842351,3.569794,3.489301,2.995780,3.18427,2.287803
1,870.500301,430.398651,4705.037577,2.516572,3.059937,3.497285,3.320882,3.903074,3.772327,3.561084,3.073735,3.14315,2.089055

In [8]:
df2.groupby('nerdiness')[['VCL1', 'VCL2',
       'VCL3', 'VCL4', 'VCL5', 'VCL6', 'VCL7', 'VCL8', 'VCL9', 'VCL10',
       'VCL11', 'VCL12', 'VCL13', 'VCL14', 'VCL15', 'VCL16']].mean()

,VCL1,VCL2,VCL3,VCL4,VCL5,VCL6,VCL7,VCL8,VCL9,VCL10,VCL11,VCL12,VCL13,VCL14,VCL15,VCL16
nerdiness,,,,,,,,,,,,,,,,
0,0.950874,0.899806,0.468568,0.959683,0.934598,0.090339,0.221144,0.403016,0.062565,0.950127,0.251904,0.179782,0.708974,0.877706,0.951321,0.977005
1,0.964952,0.939299,0.577984,0.975431,0.957606,0.110562,0.247983,0.463688,0.070938,0.960858,0.302782,0.234855,0.803204,0.929182,0.966759,0.983500

In [9]:
df2.groupby('nerdiness')[['education',
       'urban', 'gender', 'engnat', 'age', 'hand', 'religion', 'orientation',
       'voted', 'married', 'familysize', 'ASD']].mean()

,education,urban,gender,engnat,age,hand,religion,orientation,voted,married,familysize,ASD
nerdiness,,,,,,,,,,,,
0,2.343698,2.190384,1.685612,1.375637,24.819322,1.178111,4.239074,1.754816,1.640204,1.193204,3.044070,1.953842
1,2.290448,2.142479,1.717058,1.322140,28.290738,1.190752,3.985467,1.922461,1.627420,1.169227,2.503437,1.926513

# drop

In [10]:
 # 뭘 버리지 - index, country, voted, engnat, hand, education, married, urban

In [11]:
df1 = df1.drop(["index","country","voted","engnat","hand","education","married","urban","familysize", 'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4',
       'TIPI5', 'TIPI6', 'TIPI7','TIPI8', 'TIPI9', 'TIPI10','VCL1', 'VCL2','VCL4', 'VCL5', 'VCL6', 'VCL7','VCL15', 'VCL16','education',
       'urban', 'gender', 'engnat','hand', 'religion', 'orientation',
       'voted', 'married','ASD'], axis=1)
df2 = df2.drop(["index","country","voted","engnat","hand","education","married","urban","familysize", 'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4',
       'TIPI5', 'TIPI6', 'TIPI7','TIPI8', 'TIPI9', 'TIPI10','VCL1', 'VCL2','VCL4', 'VCL5', 'VCL6', 'VCL7','VCL15', 'VCL16','education',
       'urban', 'gender', 'engnat','hand', 'religion', 'orientation',
       'voted', 'married','ASD'], axis=1)

# 결측치 대체

In [12]:
# 평균값으로 정리? - Q1 ~ Q26 *******
# 0으로 처리?
# 최빈값으로 처리?

In [13]:
df1["Q1"].fillna('3.978604', inplace=True)
df2["Q1"].fillna('3.972859', inplace=True)

df1["Q2"].fillna('4.073389', inplace=True)
df2["Q2"].fillna('4.065702', inplace=True)

df1["Q3"].fillna('4.23467', inplace=True)
df1["Q3"].fillna('4.222809', inplace=True)

df1["Q4"].fillna('3.807258', inplace=True)
df2["Q4"].fillna('3.795499', inplace=True)

df1["Q5"].fillna('3.873452', inplace=True)
df2["Q5"].fillna('3.856503', inplace=True)

df1["Q6"].fillna('3.699122', inplace=True)
df2["Q6"].fillna('3.676364', inplace=True)

df1["Q7"].fillna('4.192722', inplace=True)
df2["Q7"].fillna('4.183262', inplace=True)

df1["Q8"].fillna('3.888043', inplace=True)
df2["Q8"].fillna('3.879013', inplace=True)

df1["Q9"].fillna('3.939572', inplace=True)
df2["Q9"].fillna('3.915418', inplace=True)

df1["Q10"].fillna('4.119181', inplace=True)
df2["Q10"].fillna('4.110598', inplace=True)

df1["Q11"].fillna('3.142699', inplace=True)
df2["Q11"].fillna('3.123419', inplace=True)

df1["Q12"].fillna('3.802396', inplace=True)
df2["Q12"].fillna('3.798835', inplace=True)

df1["Q13"].fillna('3.722056', inplace=True)
df2["Q13"].fillna('3.701404', inplace=True)

df1["Q14"].fillna('3.742122', inplace=True)
df2["Q14"].fillna('3.723603', inplace=True)

df1["Q15"].fillna('3.034404', inplace=True)
df2["Q15"].fillna('3.02113', inplace=True)

df1["Q16"].fillna('3.453474', inplace=True)
df2["Q16"].fillna('3.433621', inplace=True)

df1["Q17"].fillna('3.946258', inplace=True)
df2["Q17"].fillna('3.941121', inplace=True)

df1["Q18"].fillna('3.892706', inplace=True)
df2["Q18"].fillna('3.903461', inplace=True)

df1["Q19"].fillna('3.399434', inplace=True)
df2["Q19"].fillna('3.385763', inplace=True)

df1["Q20"].fillna('3.657685', inplace=True)
df2["Q20"].fillna('3.674022', inplace=True)

df1["Q21"].fillna('2.966854', inplace=True)
df2["Q21"].fillna('2.968384', inplace=True)

df1["Q22"].fillna('2.418519', inplace=True)
df2["Q22"].fillna('2.412846', inplace=True)

df1["Q23"].fillna('3.84487', inplace=True)
df2["Q23"].fillna('3.835452', inplace=True)

df1["Q24"].fillna('4.303988', inplace=True)
df2["Q24"].fillna('4.29674', inplace=True)

df1["Q25"].fillna('3.180653', inplace=True)
df2["Q25"].fillna('3.151444', inplace=True)

df1["Q26"].fillna('4.171429', inplace=True)
df2["Q26"].fillna('4.161465', inplace=True)

In [14]:
df1["introelapse"].fillna('876.7676859', inplace=True)
df2["introelapse"].fillna('767.137733', inplace=True)

df1["testelapse"].fillna('395.624929', inplace=True)
df2["testelapse"].fillna('387.965667', inplace=True)

df1["surveyelapse"].fillna('2518.593479', inplace=True)
df2["surveyelapse"].fillna('2787.95853333333', inplace=True)

In [15]:
df1["TIPI1"].fillna('2.618475', inplace=True)
df2["TIPI1"].fillna('2.623135', inplace=True)

df1["TIPI2"].fillna('3.015539', inplace=True)
df2["TIPI2"].fillna('3.037565', inplace=True)

df1["TIPI3"].fillna('3.44946', inplace=True)
df2["TIPI3"].fillna('3.466122', inplace=True)

df1["TIPI4"].fillna('3.265957', inplace=True)
df2["TIPI4"].fillna('3.275308', inplace=True)

df1["TIPI5"].fillna('3.880664', inplace=True)
df2["TIPI5"].fillna('3.876088', inplace=True)

df1["TIPI6"].fillna('3.682312', inplace=True)
df2["TIPI6"].fillna('3.682287', inplace=True)

df1["TIPI7"].fillna('3.537686', inplace=True)
df2["TIPI7"].fillna('3.529191', inplace=True)

df1["TIPI8"].fillna('3.047162', inplace=True)
df2["TIPI8"].fillna('3.039103', inplace=True)

df1["TIPI9"].fillna('3.165591', inplace=True)
df2["TIPI9"].fillna('3.161422', inplace=True)

df1["TIPI10"].fillna('2.159967', inplace=True)
df2["TIPI10"].fillna('2.177413', inplace=True)

In [16]:
df1["VCL1"].fillna('0.963387', inplace=True)
df2["VCL1"].fillna('0.958667', inplace=True)

df1["VCL2"].fillna('0.926464', inplace=True)
df2["VCL2"].fillna('0.921667', inplace=True)

df1["VCL3"].fillna('0.531959', inplace=True)
df2["VCL3"].fillna('0.529133', inplace=True)

df1["VCL4"].fillna('0.970665', inplace=True)
df2["VCL4"].fillna('0.9684', inplace=True)

df1["VCL5"].fillna('0.95075', inplace=True)
df2["VCL5"].fillna('0.947333', inplace=True)

df1["VCL6"].fillna('0.105184', inplace=True)
df2["VCL6"].fillna('0.101533', inplace=True)

df1["VCL7"].fillna('0.239084', inplace=True)
df2["VCL7"].fillna('0.236', inplace=True)

df1["VCL8"].fillna('0.443614', inplace=True)
df2["VCL8"].fillna('0.4366', inplace=True)

df1["VCL9"].fillna('0.069954', inplace=True)
df2["VCL9"].fillna('0.0672', inplace=True)

df1["VCL10"].fillna('0.958394', inplace=True)
df2["VCL10"].fillna('0.956067', inplace=True)

df1["VCL11"].fillna('0.282664', inplace=True)
df2["VCL11"].fillna('0.280067', inplace=True)

df1["VCL12"].fillna('0.214374', inplace=True)
df2["VCL12"].fillna('0.210267', inplace=True)

df1["VCL13"].fillna('0.763822', inplace=True)
df2["VCL13"].fillna('0.761133', inplace=True)

df1["VCL14"].fillna('0.90734', inplace=True)
df2["VCL14"].fillna('0.9062', inplace=True)

df1["VCL15"].fillna('0.961413', inplace=True)
df2["VCL15"].fillna('0.959867', inplace=True)

df1["VCL16"].fillna('0.982427', inplace=True)
df2["VCL16"].fillna('0.9806', inplace=True)

In [17]:
df1["gender"].fillna("1.709889", inplace=True)
df2["gender"].fillna("2.163867", inplace=True)

df1["age"].fillna('25.404575', inplace=True)
df2["age"].fillna('26.740867', inplace=True)

df1["religion"].fillna('4.12391', inplace=True)
df2["religion"].fillna('4.09834', inplace=True)

df1["orientation"].fillna('1.848046', inplace=True)
df2["orientation"].fillna('1.847956', inplace=True)

df1["ASD"].fillna('1.937129', inplace=True)
df2["ASD"].fillna('1.938703', inplace=True)

# 이상치 대체

In [18]:
# introelapse testelapse surveyelapse Age familysize  -- 이상치는 최빈값으로 대체

In [19]:
Q3, Q1 = np.percentile(df1["introelapse"], [75 ,25])
IQR1 = Q3 - Q1
IQR1

34.0

In [20]:
df1["introelapse"][(Q1-1.5*IQR1 > df1["introelapse"])|(Q3+1.5*IQR1 < df1["introelapse"])] = 2

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df1["introelapse"]

0         9
1        18
2         4
3         2
4        24
         ..
35447    10
35448     2
35449    27
35450     3
35451     2
Name: introelapse, Length: 35452, dtype: int64

In [22]:
Q3, Q1 = np.percentile(df2["introelapse"], [75 ,25])
IQR2 = Q3 - Q1
IQR2

32.0

In [23]:
df2["introelapse"][(Q1-1.5*IQR2 > df2["introelapse"])|(Q3+1.5*IQR2 < df2["introelapse"])] = 2

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
df2["introelapse"]

0         3
1         5
2         9
3         2
4         3
         ..
14995    12
14996    31
14997    17
14998    14
14999     8
Name: introelapse, Length: 15000, dtype: int64

In [25]:
Q3, Q1 = np.percentile(df1["testelapse"], [75 ,25])
IQR1 = Q3 - Q1
IQR1

58.0

In [26]:
df1["testelapse"][(Q1-1.5*IQR1 > df1["testelapse"])|(Q3+1.5*IQR1 < df1["testelapse"])] = 94

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
df1["testelapse"]

0        114
1        107
2         87
3        155
4        163
        ...
35447    200
35448    136
35449    121
35450     58
35451     94
Name: testelapse, Length: 35452, dtype: int64

In [28]:
Q3, Q1 = np.percentile(df2["testelapse"], [75 ,25])
IQR2 = Q3 - Q1
IQR2

58.0

In [29]:
df2["testelapse"][(Q1-1.5*IQR2 > df2["testelapse"])|(Q3+1.5*IQR2 < df2["testelapse"])] = 94

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
df2["testelapse"]

0         94
1         85
2        108
3        121
4         94
        ...
14995    103
14996    106
14997    103
14998     68
14999    182
Name: testelapse, Length: 15000, dtype: int64

In [31]:
Q3, Q1 = np.percentile(df1["surveyelapse"], [75 ,25])
IQR1 = Q3 - Q1
IQR1

89.25

In [32]:
df1["surveyelapse"][(Q1-1.5*IQR1 > df1["surveyelapse"])|(Q3+1.5*IQR1 < df1["surveyelapse"])] = 145

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
df1["surveyelapse"]

0        243
1        206
2        191
3        258
4        289
        ...
35447    254
35448    155
35449    191
35450    105
35451    178
Name: surveyelapse, Length: 35452, dtype: int64

In [34]:
Q3, Q1 = np.percentile(df2["surveyelapse"], [75 ,25])
IQR2 = Q3 - Q1
IQR2

91.0

In [35]:
df2["surveyelapse"][(Q1-1.5*IQR2 > df2["surveyelapse"])|(Q3+1.5*IQR2 < df2["surveyelapse"])] = 145

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
df2["surveyelapse"]

0          6
1        120
2        100
3        139
4        216
        ...
14995    161
14996    179
14997    168
14998    109
14999    348
Name: surveyelapse, Length: 15000, dtype: int64

In [37]:
Q3, Q1 = np.percentile(df1["age"], [75 ,25])
IQR1 = Q3 - Q1
IQR1

10.0

In [38]:
error = df1["age"][(Q1-1.5*IQR1 > df1["age"])|(Q3+1.5*IQR1 < df1["age"])]
for i in error :
    if i > 100 :
        i = 18

In [39]:
df1["age"]

0        19
1        33
2        13
3        28
4        15
         ..
35447    16
35448    16
35449    31
35450    19
35451    14
Name: age, Length: 35452, dtype: int64

In [40]:
Q3, Q1 = np.percentile(df2["age"], [75 ,25])
IQR2 = Q3 - Q1
IQR2

10.0

In [41]:
error2 = df2["age"][(Q1-1.5*IQR2 > df2["age"])|(Q3+1.5*IQR2 < df2["age"])]
for i in error2 :
    if i > 100 :
        i = 18

In [42]:
df2["age"]

0        20
1        49
2        43
3        17
4        18
         ..
14995    17
14996    45
14997    20
14998    29
14999    21
Name: age, Length: 15000, dtype: int64

# 최대 최소 정규화

In [43]:
# introelapse, surveyelapse, testelapse, age

In [ ]:
# normalization_df1 = (df1["introelapse"] - df1["introelapse"].min()) / (df1["introelapse"].max() - df1["introelapse"].min())
df1["introelapse"]= normalization_df1
df1["introelapse"]

normalization_df2 = (df2["introelapse"] - df2["introelapse"].min()) / (df2["introelapse"].max() - df2["introelapse"].min())
df2["introelapse"]= normalization_df2
df2["introelapse"]

normalization_df1 = (df1["testelapse"] - df1["testelapse"].min()) / (df1["testelapse"].max() - df1["testelapse"].min())
df1["testelapse"]= normalization_df1
df1["testelapse"]

normalization_df2 = (df2["testelapse"] - df2["testelapse"].min()) / (df2["testelapse"].max() - df2["testelapse"].min())
df2["testelapse"]= normalization_df2
df2["testelapse"]

normalization_df1 = (df1["surveyelapse"] - df1["surveyelapse"].min()) / (df1["surveyelapse"].max() - df1["surveyelapse"].min())
df1["surveyelapse"]= normalization_df1
df1["surveyelapse"]

normalization_df2 = (df2["surveyelapse"] - df2["surveyelapse"].min()) / (df2["surveyelapse"].max() - df2["surveyelapse"].min())
df2["surveyelapse"]= normalization_df2
df2["surveyelapse"]

normalization_df1 = (df1["age"] - df1["age"].min()) / (df1["age"].max() - df1["age"].min())
df1["age"]= normalization_df1
df1["age"]

normalization_df2 = (df2["age"] - df2["age"].min()) / (df2["age"].max() - df2["age"].min())
df2["age"]= normalization_df2
df2["age"]

# 저장 하기

In [44]:
df1.to_csv('testdata10.csv', encoding='utf-8-sig', index=False)
df2.to_csv('traindata10.csv', encoding='utf-8-sig', index=False)